<h1>Listing Ratings</h1>

<p>Number of ratings:
<%= @ratings.count %> </p>

<ul>
 <% @ratings.each do |rating| %>
   <li> 
     <%= rating.beer.name %>, score: <%= rating.score %>, 
     <%= link_to rating.user.username, rating.user %> 
   </li> 
 <% end %>
</ul>
